/* Resources for css styling of grid for gallery: https://www.w3schools.com/howto/howto_css_images_side_by_side.asp */

/* Makes links black and removes underline */
a {
    text-decoration: none;
    color: black; /* added missing semicolon */
}

/* Highlights links when hovered over with mouse */
a:hover {
    background-color: yellow;
}

/* Highlights h2 tags and buttons */
h2:hover, button {
    background-color: yellow;
}

/* Highlights product image and details and bolds product name */
.product-details:hover, .product-img:hover {
    background-color: yellow;
    font-weight: bold;
}

/* Sets logo size */
#logo {
    display: flex;
    align-items: center;
    margin-right: 25px;
    width: 400px;
}

/* Formats product image */
.product-img {
    max-width: 285px;
    max-height: 285px;
    display: block;
    margin: auto;
    border: 2px solid black;
}

/* Aligns product details with product image */
.product-details {
    padding: 30px;
    max-width: fit-content;
    margin-left: auto;
    margin-right: auto;
    text-decoration: underline;
}

/* Formats product image on customization page */
.item-customization {
    max-width: 600px;
    max-height: 600px;
    border: 2px solid black;
}

/* Aligns cart details with cart images */
.cart-item {
    display: flex;
    padding: 50px;
    font-weight: bold;
}

/* Formats cart item images on cart page */
.cart-img {
    max-width: 200px;
    max-height: 200px;
    display: block;
    margin: auto;
    border: 2px solid black;
}

html {
    font-family: Arial, sans-serif;
}

/* Formats the rows of items in a flexbox */
#row1, #row2 {
    display: flex;
    justify-content: space-evenly;
}

/* Aligns tagline with the logo and solid black line in flexbox */
.tagline {
    text-align: left;
    font-size: 25px;
    padding-left: 25px;
    margin-top: 10px;
}

/* Flexbox that houses three containers and aligns logo, line, and tagline */
.logo-container {
    display: flex;
    align-items: center;
    padding: 30px;
}

/* Formats solid black line to expand 1200px */
hr {
    width: 1100px;
    height: 4px;
    background: #000;
}

/* Formats the navigation bar */
nav {
    font-size: 15px;
    position: absolute;
    right: 0;
    padding: 20px;
    display: flex;
    gap: 100px;
}

/* Formats the flexbox that houses the products into a grid of 3X2 */
.menu {
    justify-content: center;
    padding: 20px;
    margin-left: 200px;
}

/* Flexbox for the product details */
.custom-container {
    display: flex;
    justify-content: center;
}

/* Child flexbox that contains the customizations for the product */
.customizations {
    padding: 50px;
    font-size: 20px;
    display: flex;
    align-items: stretch;
    flex-direction: column;
}

/* Flexbox that allows user to add to cart */
.add-to-cart {
    padding: 30px;
    font-size: 20px;
}

/* Flexbox that contains cart item details */
.item-details {
    display: flex;
    width: 400px;
    text-decoration: none;
    font-weight: lighter;
}

/* Price of each item formatting */
.price {
    padding-left: 50px;
    padding-top: 40px;
}

/* Parent div that formats the cart page and contains child divs like specifications, total, and check-out */
.cart {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    flex-wrap: wrap;
}

/* Aligns cart image and remove button */
.cart-img-container {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.specifications {
    align-items: start;
    padding-top: 40px;
    width: 400px;
}

/* Flexbox that contains the total price and formats so the button is underneath the price */
.total {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

/* Button formatting */
.button {
    display: flex;
    justify-content: space-evenly;
}

/* Flexbox that contains the cart items */
.check-out {
    display: flex;
    width: 1100px;
    flex-direction: column; 
    align-items: flex-end; 
    margin-top: 20px;
    padding-left: 150px;
}

/* Flexbox that contains the price and remove button */
.price-container {
    display: flex;
    justify-content: space-between;
    width: 900px;
}

/* Flexbox that contains the remove button */
.btn-delete {
    display: flex;
    flex-wrap: wrap;
    text-decoration: underline;
}

/* Selection menu on product details page */
select {
    width: 300px;
    padding: 5px;
    border-width: 2px;
    border-color: black;
}